<h1 class="text-center m-4" >Dishes</h1>

<app-dish-list [dishes]="dishes$ | async"></app-dish-list>

<div *ngIf="(dishes$ | async)?.length > 0" 

        class="d-flex flex-row justify-content-center m-4">
        <button class="btn btn-primary m-1" (click)="onLoadMore(1)">1</button>
        <button class="btn btn-primary m-1" (click)="onLoadMore(2)">2</button>
        <button class="btn btn-primary m-1" (click)="onLoadMore(3)">3</button>
        <button class="btn btn-primary m-1" (click)="onLoadMore(4)">4</button>
</div>