<div *ngFor="let region of regions">
    <div class="shadow list-item rounded p-2 mb-2 d-flex flex-row justify-content-between align-items-center">
        <div class="w-25" >{{region.originalName}}</div>
        <div class="w-25">{{region.regionLevelId | regionLevel | uppercase}}</div>
        <div class="w-25">{{region.popularity}}</div>
        <div class="w-25 d-flex flex-row justify-content-end">
            <a class="m-1 btn btn-success fas fa-edit"  [routerLink]="['/regions/', region.id, 'update']"></a>
        </div>
    </div>
  </div>
