<h1 class="text-center m-4">Create</h1>

<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit(dishForm)" #dishForm="ngForm">
      <div class="form-group">
        <label for="originalName">Original Name</label>
        <input type="text" autocomplete="off" class="form-control" id="originalName" required [(ngModel)]="model.originalName"
          name="originalName" #originalName="ngModel">

        <div [hidden]="originalName.valid || originalName.pristine" class="alert alert-danger">
          <span *ngIf="dishForm.controls.originalName?.errors?.required"> Name is required</span>
        </div>
      </div>

      <div class="form-group">
        <label for="englishName">English Name</label>
        <input type="text" autocomplete="off" class="form-control" id="englishName" [(ngModel)]="model.englishName"
          name="englishName" #englishName="ngModel">
      </div>

      <div class="form-group">
        <label for="otherNames">Other Names</label>
        <input type="text" autocomplete="off" class="form-control" id="otherNames" [(ngModel)]="model.otherNames" name="otherNames"
          #otherNames="ngModel">
      </div>
      <div class="form-group">
        <label for="shortName">Short Names</label>
        <input type="text" autocomplete="off" class="form-control" id="shortName" [(ngModel)]="model.shortName" name="shortName"
          #shortName="ngModel">
      </div>

      <div class="form-group">
        <label for="popularity">Popularity</label>
        <input type="number" autocomplete="off" class="form-control" required id="popularity" [(ngModel)]="model.popularity"
          name="popularity" #popularity="ngModel">

        <div [hidden]="popularity.valid || popularity.pristine" class="alert alert-danger">
          <span *ngIf="dishForm.controls.popularity?.errors?.required"> Popularity is required</span>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" autocomplete="off" class="form-control" id="description" required [(ngModel)]="model.description"
          name="description" #description="ngModel">

        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <span *ngIf="dishForm.controls.description?.errors?.required"> Description is required</span>
        </div>
      </div>

      <button [disabled]="dishForm.invalid" type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>
