<h1 class="text-center m-4">Search</h1>

<div class="input-group mb-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
  </div>
  <input type="text" class="form-control" aria-label="Search" #search aria-describedby="inputGroup-sizing-default"
    [(ngModel)]="query" (keyup.enter)="onSearch()">
</div>
<app-dish-list [dishes]="dishes$ | async"></app-dish-list>