<div class="d-flex flex-row feature-container">

  <div class="nav flex-column col-md-2 bg-light" aria-orientation="vertical">
    <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="search" routerLinkActive="active">Search</a>
    <a class="nav-link" routerLink="add" routerLinkActive="active" >Add</a>
    <a class="nav-link" routerLink="addalt" routerLinkActive="active" >Add Alt</a>
  </div>
  
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>