<h1 class="text-center m-4">Create</h1>

<form [formGroup]="regionForm" >
    <div class="form-group">
      <label for="originalName">
        Original name
      </label>
      <input id="originalName" class="form-control" type="text" formControlName="originalName">
      <div *ngIf="regionForm.controls['originalName'].invalid && (regionForm.controls['originalName'].dirty || regionForm.controls['originalName'].touched)"
        class="alert alert-danger">
        <div *ngIf="regionForm.controls['originalName'].hasError('required')">
          Name is required.
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="regionLevelId">Region level</label>
      <select class="form-control" id="regionLevelId" formControlName="regionLevelId">
        <option *ngFor="let level of regionLevels" [value]="level.id" >{{level.value}}</option>
      </select>
  
      <div *ngIf="regionForm.controls['regionLevelId'].invalid && (regionForm.controls['regionLevelId'].dirty || regionForm.controls['regionLevelId'].touched)"
      class="alert alert-danger">
      <div *ngIf="regionForm.controls['regionLevelId'].hasError('required')">
        Region level is required.
      </div>
    </div>
    </div>
  
    <div class="form-group">
      <label for="englishName">
        English name
      </label>
      <input type="text" id="englishName" class="form-control" formControlName="englishName">
    </div>
  
    <div class="form-group">
      <label for="shortName">
        Short name
      </label>
      <input type="text" id="shortName" class="form-control" formControlName="shortName">
    </div>
  
    <div class="form-group">
      <label for="popularity">
        Popularity
      </label>
      <input type="number" id="poularity" class="form-control" formControlName="popularity">
      <div *ngIf="regionForm.controls['popularity'].invalid && (regionForm.controls['popularity'].dirty || regionForm.controls['popularity'].touched)"
        class="alert alert-danger">
        <div *ngIf="regionForm.controls['popularity'].hasError('required')">
          Popularity is required.
        </div>
      </div>
    </div>
  
    <button #regionSaveBtn type="button" class="btn btn-primary">Submit</button>
  
  </form>