<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dishes" routerLinkActive="active">Dishes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/regions" routerLinkActive="active">Regions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/description" routerLinkActive="active">Description</a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
