<div *ngFor="let dish of dishes">
  <div class="shadow list-item rounded p-2 mb-2 d-flex flex-row justify-content-between align-items-center">
      <div class="w-25" >{{dish.originalName}}</div>
      <div class="w-25">{{dish.description}}</div>
      <div class="w-25">{{dish.popularity}}</div>
      <div class="w-25 d-flex flex-row justify-content-end">
          <a class="m-1 btn btn-success fas fa-edit"  [routerLink]="['/dishes/', dish.id, 'update']"></a>
          <a class="m-1 btn btn-danger fas fa-trash-alt" style="color: white" (click)="onDishDelete(dish.id)"></a>
      </div>
  </div>
</div>
