/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body, html {
    height: 100%;
}

.list-item:hover {
    background-color: #007bff;
    color: white;
}

.feature-container {
    height: 100%;
}